@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 8, ../sass/screen.scss */
.btn-custom {
  background-color: #002438 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00669e", endColorstr="#002438");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00669e), to(#002438));
  background-image: -moz-linear-gradient(top, #00669e, #002438);
  background-image: -ms-linear-gradient(top, #00669e, #002438);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00669e), color-stop(100%, #002438));
  background-image: -webkit-linear-gradient(top, #00669e, #002438);
  background-image: -o-linear-gradient(top, #00669e, #002438);
  background-image: linear-gradient(#00669e, #002438);
  border-color: #002438 #002438 #00141f;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

/* line 25, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #00284e;
}

/* line 29, ../sass/screen.scss */
#header {
  text-align: center;
  position: relative;
  padding-top: 20px;
}
/* line 33, ../sass/screen.scss */
#header #logo > img {
  margin-bottom: 20px;
}
/* line 36, ../sass/screen.scss */
#header #block-system-main-menu .content {
  background-color: #003e79;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF003E79', endColorstr='#FF00284E');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003e79), color-stop(100%, #00284e));
  background-image: -webkit-linear-gradient(top, #003e79 0%, #00284e 100%);
  background-image: -moz-linear-gradient(top, #003e79 0%, #00284e 100%);
  background-image: -o-linear-gradient(top, #003e79 0%, #00284e 100%);
  background-image: -ms-linear-gradient(top, #003e79 0%, #00284e 100%);
  background-image: linear-gradient(top, #003e79 0%, #00284e 100%);
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  -ms-border-radius: 8px / 8px;
  -o-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}
/* line 39, ../sass/screen.scss */
#header #block-system-main-menu .content ul {
  text-align: center;
  margin: 0;
}
/* line 43, ../sass/screen.scss */
#header #block-system-main-menu .content li {
  list-style: none;
  margin: 0;
  border-bottom: 2px solid #002548;
  padding: 0.5em 0.5em;
}
/* line 48, ../sass/screen.scss */
#header #block-system-main-menu .content li a {
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.5em;
  line-height: 1.1em;
}
@media (max-width: 979px) {
  /* line 48, ../sass/screen.scss */
  #header #block-system-main-menu .content li a {
    font-size: 1.2em;
  }
}
/* line 58, ../sass/screen.scss */
#header #block-system-main-menu .content li.last {
  border: 0;
  padding-bottom: 0.7em;
}
/* line 63, ../sass/screen.scss */
#header #block-system-main-menu .content li:hover, #header #block-system-main-menu .content li.active-trail {
  background: url(../images/indicator.png) center bottom no-repeat;
  background-size: contain;
}

/* line 71, ../sass/screen.scss */
#main, #sidebar-first {
  padding-top: 20px;
}
@media (min-width: 768px) {
  /* line 71, ../sass/screen.scss */
  #main, #sidebar-first {
    background: url(../images/navshadow.png) bottom left no-repeat, url(../images/navshadow-stretch.png) top left repeat-y;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  /* line 78, ../sass/screen.scss */
  #main .field-name-field-image, #sidebar-first .field-name-field-image {
    margin: 0 -20px;
  }
}
/* line 83, ../sass/screen.scss */
#main #page-title b, #sidebar-first #page-title b {
  color: #1ab7ea;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 82, ../sass/screen.scss */
  #main #page-title, #sidebar-first #page-title {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* line 90, ../sass/screen.scss */
  #sidebar-first {
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 95, ../sass/screen.scss */
  #sidebar-first a {
    font-size: 0.85em;
  }
}

/* line 102, ../sass/screen.scss */
.view-homepage-slider .views-field-body {
  font-size: 0.9em;
}
/* line 105, ../sass/screen.scss */
.view-homepage-slider .btn {
  margin: 1em 0;
}
@media (min-width: 481px) {
  /* line 108, ../sass/screen.scss */
  .view-homepage-slider.view-display-id-page {
    padding-bottom: 50px;
    background: url(../images/homeshadow.png) center 95% no-repeat;
  }
}

/* line 117, ../sass/screen.scss */
.services-menu .accordion-heading .accordion-toggle {
  padding: 0;
  text-align: center;
}
/* line 120, ../sass/screen.scss */
.services-menu .accordion-heading .accordion-toggle b {
  color: #1ab7ea;
}
/* line 123, ../sass/screen.scss */
.services-menu .accordion-heading .accordion-toggle:hover {
  text-decoration: none;
}
/* line 128, ../sass/screen.scss */
.services-menu .accordion-inner a {
  display: block;
}

/* line 135, ../sass/screen.scss */
.node-webform .form-text {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 139, ../sass/screen.scss */
  .node-webform .form-horizontal .control-label {
    width: 100px;
  }
}
/* line 143, ../sass/screen.scss */
.node-webform .form-actions {
  background: none;
  border: none;
  text-align: right;
  padding-top: 0;
}
/* line 149, ../sass/screen.scss */
.node-webform label {
  font-weight: bold;
  color: #00284e;
}

/* line 158, ../sass/screen.scss */
.contact-page-left .facebook,
.contact-page-left .flickr,
.contact-page-left .telephone,
.contact-page-left .email {
  background: url(../images/facebook.png) top left no-repeat;
  background-size: contain !important;
  padding: 0.3em 0;
  padding-left: 2em;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 158, ../sass/screen.scss */
  .contact-page-left .facebook,
  .contact-page-left .flickr,
  .contact-page-left .telephone,
  .contact-page-left .email {
    padding-left: 0;
    background: none !important;
  }
}
/* line 168, ../sass/screen.scss */
.contact-page-left .flickr {
  background: url(../images/flickr.png) top left no-repeat;
}
/* line 171, ../sass/screen.scss */
.contact-page-left .telephone {
  background: url(../images/phone.png) top left no-repeat;
}
/* line 174, ../sass/screen.scss */
.contact-page-left .email {
  background: url(../images/mail.png) top left no-repeat;
}
/* line 177, ../sass/screen.scss */
.contact-page-left a {
  color: black;
}
/* line 179, ../sass/screen.scss */
.contact-page-left a b {
  color: #1ab7ea;
  font-weight: normal;
}
/* line 183, ../sass/screen.scss */
.contact-page-left a:hover {
  text-decoration: none;
}

/* line 190, ../sass/screen.scss */
.region-footer .span10 {
  border-top: 1px solid #1ab7ea;
  margin-top: 50px;
  padding-top: 10px;
  font-size: 0.8em;
}
/* line 195, ../sass/screen.scss */
.region-footer .span10 .copyright {
  float: right;
}

/* line 201, ../sass/screen.scss */
#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] {
  width: 100% !important;
}
